@font-face {
    font-family: 'FuturaPT';
    src: local('FuturaPT'), url('../fonts/Futura_PT.woff2') format('woff2'),
        url('../fonts/Futura_PT.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: local('FuturaPT'), url('../fonts/Futura_PT_Light.woff2') format('woff2'),
        url('../fonts/Futura_PT_Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Forum';
    src: local('Forum'), url('../fonts/Forum_Regular.woff2') format('woff2'),
        url('../fonts/Forum_Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}