@import '_fonts.scss';
@import '_set.scss';

.header {
    padding-top: 1.4rem;

    .container {
        width: 164rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {

        &-schedule {
            margin-bottom: 2.4rem;
            font-family: 'FuturaPT';
            font-size: 1.9rem;
            line-height: 2.6rem;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.4);
        }

        &-nav {

            &-list {
                display: flex;
            }

            &-item {
                &:not(:last-child) {
                    margin-right: 4rem;
                }
            }

            &-link {
                font-size: 1.9rem;
                line-height: 2.6rem;
            }

        }
    }

    &__logo {
        width: 19.4rem;
        object-fit: contain;
        max-width: 100%;
    }

    &__right {

        &-top {
            margin-bottom: 2.5rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        &-phone {
            margin-right: 7rem;
            font-family: 'FuturaPT';
            font-size: 1.9rem;
            line-height: 2.6rem;
        }

        &-nav {

            &-list {
                display: flex;
                align-items: center;
            }

            &-item {

                &:not(:last-child) {
                    margin-right: 4rem;
                }
            }

            &-link {
                font-size: 1.9rem;
                line-height: 2.6rem;
            }

        }
    }
}

.hero {
    margin-bottom: 17.8rem;
    padding-bottom: 17.8rem;
    position: relative;
    background: url(../images/svg/heroPolygon.svg) center/contain no-repeat,
        url(../images//svg/heroRight.svg) center right -10rem/51.8rem no-repeat,
        url(../images//svg/heroLeft.svg) center left -10rem/51.8rem no-repeat,
        url(../images/heroBG.png) center/auto no-repeat;

    .swiper__hero-pagination {
        bottom: 15rem !important;
        left: 50%;
        transform: translateX(-50%);
    }

    .swiper__hero-next,
    .swiper__hero-prev {
        position: absolute;
        top: 55%;
        z-index: 2;

        img {
            width: 4.1rem;
            object-fit: contain;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .swiper__hero-next {
        right: 20%;
    }

    .swiper__hero-prev {
        left: 20%;
        transform: rotateY(180deg);
    }

    .swiper-pagination-bullet {
        width: 0.6rem;
        height: 0.6rem;
        background-color: transparent;
        opacity: 1;
        border: 1px solid rgba(255, 255, 255, 0.3);

        &-active {
            border: 1px solid rgba(255, 255, 255, 1);
        }

        &:not(:last-child) {
            margin-right: 1.2rem;
        }
    }

    .swiper__hero {
        padding-top: 15rem;
        width: 100%;
        min-height: 61.5rem;

        &-number {
            position: absolute;
            top: -15rem;
            left: 50%;
            font-family: 'Forum';
            font-size: 9rem;
            line-height: 1;
            text-align: center;
            letter-spacing: 0.16em;
            text-transform: uppercase;
            transform: translateX(-50%);
        }

        .swiper-slide {
            transform: scale(.5);
            transition: transform .2s ease-in;

            &-prev {
                transform: translateX(-20%) scale(.5);
            }

            &-next {
                transform: translateX(20%) scale(.5);
            }

            &-active {
                transform: scale(1);

                .swiper__hero-number {
                    top: auto;
                    bottom: 0;
                    font-family: 'FuturaPT';
                    font-size: 1.5rem;
                    line-height: 2.2rem;
                    transition: all .3s ease-in;

                    &::before {
                        content: '(';
                    }

                    &::after {
                        content: ')';
                    }
                }

                .swiper__hero-heading,
                .swiper__hero-price,
                .swiper__hero-link {
                    opacity: 1;
                }
            }
        }

        &-price,
        &-link {
            position: absolute;

            display: flex;
            align-items: center;
            justify-content: center;
            width: 22rem;
            height: 8.5rem;
            font-family: 'FuturaPT';
            font-size: 1.5rem;
            line-height: 2.2rem;
            letter-spacing: 0.16em;
            text-transform: uppercase;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(30px);
            background: url(../images/svg/heroEllipse.svg) center/contain no-repeat;
            opacity: 0;
            transition: opacity .2s ease-in;
        }

        &-price {
            right: 0;
            top: 16rem;
        }

        &-link {
            left: 2rem;
            bottom: 15rem;
        }

        &-heading {
            position: absolute;
            bottom: 25rem;
            right: 16rem;
            width: 19.2rem;
            font-size: 4rem;
            line-height: 4.7rem;
            text-transform: uppercase;
            opacity: 0;
            transition: opacity .2s ease-in;
        }

        &-slide {
            position: relative;
            height: auto;

            img {
                object-fit: contain;
            }
        }
    }

    &__video {
        position: absolute;
        bottom: 8rem;
        right: 15rem;
        width: 27.5rem;
        height: 15.3rem;
        background: url(../images/svg/heroVideoBG.svg) center/contain no-repeat;
        z-index: 3;

        &-content {
            transform: translate(-1rem, 1rem);
        }

        &-link {
            position: absolute;
            top: 1.4rem;
            right: 2rem;
            font-family: 'FuturaPT';
            font-weight: 300;
            font-size: 1.9rem;
            line-height: 2.2rem;

            &:hover {
                cursor: pointer;
            }
        }

        &-img {
            width: 100%;
            object-fit: contain;
        }

        &-btn {
            position: absolute;
            left: 1.2rem;
            bottom: 1.6rem;
            width: 5.6rem;
            height: 5.2rem;

            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }

    &__notice {
        position: absolute;
        bottom: 8rem;
        left: 14rem;
        width: 24.2rem;
        font-family: 'FuturaPT';
        font-size: 1.9rem;
        line-height: 2.2rem;
    }
}

.exclusive {
    padding-top: 11rem;
    background: url(../images/exclusiveBG.png) no-repeat;
    position: relative;

    &__woman-img {
        width: auto;
        position: absolute;
        left: 50rem;
        bottom: 28rem;
        z-index: 2;
    }

    &__man-img {
        width: auto;
        position: absolute;
        right: 38rem;
        bottom: 28rem;
        z-index: 2;
    }

    &__container {
        margin: 0 auto;
        margin-bottom: 8rem;
        width: 150rem;
        display: flex;
        align-items: center;
    }

    &__description {
        margin-right: 6rem;
        font-family: 'FuturaPT';
        width: 28.5rem;
        font-size: 1.9rem;
        line-height: 2.2rem;
        color: rgba(8, 8, 8, 0.5);
    }

    &__heading {
        width: 68.8rem;
        font-size: 7rem;
        line-height: 9rem;
        text-transform: uppercase;
        color: #080808;
    }

    &__btn {
        margin-left: auto;
    }

    .swiper__exclusive {
        margin-bottom: 23.7rem;
        width: 100%;

        .swiper-wrapper {
            margin-left: -15%;
        }

        &-slide {
            padding-left: 4.2rem;
            padding-right: 4.1rem;
            padding-bottom: 3.5rem;
            width: 57.5rem;
            height: 36rem;
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            background-color: #1B1B1B;
            border: 1px solid #FFFFFF;

            .swiper-jewelry {
                height: 26.5rem;
                object-fit: contain;
                align-self: center;
                max-width: 100%;
                position: absolute;
                top: 2rem;
            }

            &[aria-label='1 / 4'] {
                .swiper-jewelry {
                    top: 4rem;
                }
            }

            &[aria-label='2 / 4'] {
                .swiper-jewelry {
                    top: 0;
                }
            }

        }

        .swiper-slide-active {
            .swiper__exclusive-link {
                opacity: 1;
            }
        }

        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 22rem;
            height: 8.5rem;
            position: absolute;
            top: 9.2rem;
            right: 4.1rem;
            font-family: 'FuturaPT';
            font-size: 1.5rem;
            line-height: 2.2rem;
            letter-spacing: 0.16em;
            text-transform: uppercase;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.05);
            backdrop-filter: blur(30px);
            z-index: 2;
            background-image: url(../images/svg/swiperExclusiveBtn.svg);
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0;
            transition: opacity .3s ease-in;
        }

        &-bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;

            &-link {
                img {
                    width: 4.213rem;
                    object-fit: contain;
                }
            }
        }

        &-heading {
            font-family: 'FuturaPT';
            font-size: 1.5rem;
            line-height: 2.2rem;
            letter-spacing: 0.16rem;
            text-transform: uppercase;
        }

        &-pagination {
            margin-bottom: 1.9rem;
            font-family: 'FuturaPT';
            font-size: 1.9rem;
            line-height: 2.6rem;
            color: rgba(255, 255, 255, 0.3);
        }

        &-buttons {
            padding: 5.4rem 14rem 13.1rem;
            display: flex;
            justify-content: space-between;
            background: linear-gradient(180deg, #000000 0%, rgba(8, 8, 8, 0) 93.89%);
        }

        &-scroll {
            font-family: 'FuturaPT';
            font-size: 1.5rem;
            line-height: 2.2rem;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
        }

        &-prev,
        &-next {
            img {
                width: 4.213rem;
                object-fit: contain;
            }

            &:hover {
                cursor: pointer;
            }
        }

        &-prev {
            transform: rotateY(180deg);
        }
    }

}



.services {
    padding-top: 3.8rem;
    padding-bottom: 17.9rem;

    .container {
        width: 160rem;
        position: relative;
    }

    &__heading {
        margin: 0 auto;
        margin-bottom: 5.5rem;
        width: 64.6rem;
        font-size: 7rem;
        line-height: 9rem;
        text-align: center;
        text-transform: uppercase;
    }

    &__tabs {
        margin-bottom: 12.5rem;
        padding-top: 3.6rem;
        padding-bottom: 3.6rem;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);

        &-list {
            margin: 0 auto;
            width: 164rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-btn {
            width: 13.5rem;
            font-family: 'FuturaPT';
            font-size: 1.5rem;
            line-height: 2.2rem;
            color: rgba(255, 255, 255, 0.4);
            text-align: center;
            text-transform: uppercase;
            letter-spacing: .2rem;

            &--active {
                color: #FFFFFF;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__content {
        display: none;
        justify-content: flex-end;
        position: relative;

        &--active {
            display: flex;
        }

        &-img {
            width: 102rem;
            object-fit: contain;
        }

        &-text-wrapper {
            width: 86.9rem;
        }

        &-text {
            margin-top: 5.2rem;
            margin-left: 25rem;
            padding: 6.8rem 5.1rem 6.8rem 1rem;
            width: 86.9rem;
            text-align: right;
            background: rgba(21, 21, 21, 0.3);
            backdrop-filter: blur(40px);
            z-index: 2;
        }

        &-heading {
            margin-bottom: 4.1rem;
            font-size: 4rem;
            line-height: 5.6rem;
            text-transform: uppercase;
        }

        &-description {
            margin-bottom: 5.2rem;
            font-family: 'FuturaPT';
            font-size: 1.9rem;
            line-height: 2.6rem;
            color: rgba(255, 255, 255, 0.5);
        }


        &-link {
            font-size: 0;

            p {
                font-family: 'FuturaPT';
                font-size: 1.5rem;
                line-height: 2.2rem;
                text-align: right;
                text-transform: uppercase;
                letter-spacing: .2rem;
                display: inline-block;
                vertical-align: middle;
            }

            img {
                width: 4.213rem;
                object-fit: contain;
                display: inline-block;
                margin-left: 3.9rem;
            }
        }
    }
}

.price {
    padding-bottom: 17.5rem;
    overflow: hidden;

    &__heading {
        margin-bottom: 6.5rem;
        font-size: 7rem;
        line-height: 9rem;
        text-align: center;
        text-transform: uppercase;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__subheading {
        margin-top: 20rem;
        margin-left: 12.8rem;
        display: inline-block;
        font-size: 4rem;
        line-height: 4.6rem;
        height: 29.2rem;
        text-align: left;
        text-transform: uppercase;
        writing-mode: vertical-rl;
        transform: scale(-1);
        vertical-align: middle;
    }

    &__jewelry-order {
        margin-bottom: 3.4rem;
        font-family: 'FuturaPT';
        font-size: 1.5rem;
        line-height: 2.2rem;
        color: rgba(255, 255, 255, 0.3);
        letter-spacing: 0.16em;
        text-transform: uppercase;
    }

    &__jewelry-img {
        margin-bottom: 2rem;
        object-fit: contain;
    }

    &__jewelry-name {
        margin-bottom: 2.8rem;
        font-size: 4rem;
        line-height: 5.6rem;
        letter-spacing: 0.02em;
        text-transform: uppercase;
    }

    &__jewelry-number {
        font-family: 'FuturaPT';
        font-size: 1.5rem;
        line-height: 2.2rem;
        letter-spacing: 0.16em;
        text-transform: uppercase;
    }

    .swiper__price-container {
        margin: 0;
        width: calc(100vw - 12.8rem - 3.9rem - 9.2rem);
        display: inline-block;


        .swiper-slide {
            width: 42rem;
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

.stages {
    padding-bottom: 19rem;

    &__heading {
        margin: 0 auto;
        margin-bottom: 5.5rem;
        font-size: 7rem;
        line-height: 9rem;
        text-align: center;
        text-transform: uppercase;
    }

    &__block {
        margin-bottom: 6.7rem;
        padding-top: 5.8rem;
        padding-bottom: 5.8rem;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    &__tabs {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;

        &-btn {
            font-family: 'FuturaPT';
            font-size: 1.5rem;
            line-height: 2.2rem;
            text-align: center;
            letter-spacing: 0.16em;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.4);

            &:hover {
                cursor: pointer;
            }

            &--active {
                color: #FFFFFF;
            }

            &:not(:last-child) {
                margin-right: 11.6rem;
            }
        }
    }

    &__list {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        &-item {
            width: 35rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:not(:last-child) {
                margin-right: 9rem;
            }
        }
    }

    &__tab-item {
        display: none;

        &--active {
            display: flex;
        }
    }

    &__item {

        &-number {
            width: 23.3rem;
            height: 24.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 4rem;
            line-height: 4.4rem;
            letter-spacing: 0.16em;
            text-transform: uppercase;
            background: url(../images/svg/stagesPolygon.svg) center/contain no-repeat;
        }

        &-name {
            margin-bottom: 0.6rem;
            font-size: 4rem;
            line-height: 5.6rem;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: uppercase;
        }

        &-description {
            font-family: 'FuturaPT';
            font-size: 1.9rem;
            line-height: 2.2rem;
            text-align: center;
            color: rgba(255, 255, 255, 0.5);
        }
    }
}

.examples {
    position: relative;
    overflow: hidden;

    &__heading {
        position: absolute;
        top: 16.8rem;
        left: 13.9rem;
        font-size: 7rem;
        line-height: 9rem;
        text-transform: uppercase;
        z-index: 2;
    }

    .swiper__examples {
        &-slide {
            position: relative;
            padding-top: 27.5rem;
            padding-left: 13.9rem;
            padding-bottom: 19rem;
            min-height: 104.5rem;
            display: flex;
            flex-direction: column;
        }

        &-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            object-fit: contain;
        }

        &-name,
        &-detail {
            margin-bottom: .4rem;
            font-family: 'FuturaPT';
            font-size: 1.5rem;
            line-height: 2.2rem;
            letter-spacing: 0.16em;
            text-transform: uppercase;
        }

        &-detail {
            margin-bottom: 0;
        }

        &-pagination {
            margin-top: auto;
            display: inline-block;
            position: relative;
            bottom: auto;
            left: auto;
            width: auto;
            font-size: 4rem;
            line-height: 4.4rem;
            text-align: left;
            letter-spacing: 0.16em;
            text-transform: uppercase;
        }
    }

    &__video {
        padding: 5.6rem 5.9rem;
        position: absolute;
        bottom: 20rem;
        right: -15rem;
        width: 87rem;
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(50px);
        z-index: 2;

        &-container {
            position: relative;
        }

        &-heading {
            margin-bottom: 3rem;
            font-family: 'FuturaPT';
            font-size: 1.5rem;
            line-height: 2.2rem;
            letter-spacing: 0.16em;
            text-transform: uppercase;
        }

        .swiper__video {
            margin-bottom: 4.2rem;
            z-index: 2;

            &-slide {
                padding: 1.5rem;
                display: flex;
                width: 22.3rem;
                min-height: 28rem;
                align-items: flex-end;
                justify-content: flex-start;
            }

            &-img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                object-fit: contain;
            }

            &-text {
                display: flex;
                align-items: center;
                z-index: 2;
            }

            &-btn {
                margin-right: 1.4rem;

                img {
                    width: auto;
                    max-width: 100%;
                }
            }

            &-name {
                font-family: 'FuturaPT';
                font-size: 1.5rem;
                line-height: 1.9rem;

                span {
                    font-weight: 300;
                }
            }

            &-next,
            &-prev {
                display: inline-block;

                img {
                    width: 4.213rem;
                    object-fit: contain;
                }

                &:hover {
                    cursor: pointer;
                }
            }

            &-prev {
                margin-right: 2rem;
                transform: scaleX(-1);
            }
        }

        .swiper-pagination {
            left: 50%;
            bottom: 0;
        }

        .swiper-pagination-bullet {
            width: 0.6rem;
            height: 0.6rem;
            background-color: transparent;
            opacity: 1;
            border: 1px solid rgba(255, 255, 255, 0.3);

            &-active {
                border: 1px solid rgba(255, 255, 255, 1);
            }

            &:not(:last-child) {
                margin-right: 1.2rem;
            }
        }
    }
}

.about {
    padding-top: 17rem;
    padding-bottom: 16.8rem;

    .container {
        width: 164rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__left {
        width: 76.5rem;

        &-images {
            position: relative;
        }

        &-img1 {
            width: 57.9rem;
            object-fit: contain;
        }

        &-img2 {
            width: 28.4rem;
            object-fit: contain;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }

        &-heading {
            margin-bottom: 4.6rem;
            font-size: 7rem;
            line-height: 12.3rem;
            text-transform: uppercase;
        }

        &-description {
            margin-bottom: 13rem;
            font-family: 'FuturaPT';
            font-size: 1.9rem;
            line-height: 2.6rem;
        }
    }



    &__right {
        width: 61rem;

        &-img3 {
            margin-bottom: 11.5rem;
            width: 58.1rem;
            object-fit: contain;
        }

        &-title {
            font-family: 'FuturaPT';
            font-size: 1.9rem;
            line-height: 2.6rem;
        }

        &-list {
            &-item {
                margin-left: 1em;
                font-family: 'FuturaPT';
                font-size: 1.9rem;
                line-height: 2.6rem;
                list-style: inside;
                list-style-position: outside;
            }
        }

    }
}

.reviews {
    padding-left: 14rem;
    display: flex;
    position: relative;
    overflow: hidden;

    &__left {
        width: 58rem;

        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 26.6rem;
            min-height: 13.8rem;
            font-family: 'FuturaPT';
            font-size: 1.5rem;
            line-height: 2.2rem;
            letter-spacing: 0.16em;
            text-transform: uppercase;
            background: url(../images/svg/feedbackBtn.svg) center/contain no-repeat;
        }
    }

    &__heading {
        margin-bottom: 14.6rem;
        font-size: 7rem;
        line-height: 9rem;
        text-transform: uppercase;
    }

    .swiper__reviews-pagintaion {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;

        .swiper-pagination-bullet {
            width: 0.6rem;
            height: 0.6rem;
            background-color: transparent;
            opacity: 1;
            border: 1px solid rgba(255, 255, 255, 0.3);

            &-active {
                border: 1px solid rgba(255, 255, 255, 1);
            }

            &:not(:last-child) {
                margin-bottom: 1.2rem;
            }
        }
    }

    .swiper__reviews {
        margin-right: 3.3rem;
        width: 43.7rem;
        max-height: 35rem;

        &-slide {
            height: 100%;
        }

        &-item {
            margin-bottom: 5.7rem;
            font-family: 'FuturaPT';
            font-size: 1.9rem;
            line-height: 2.6rem;
        }

        &-btns {
            position: absolute;
            bottom: 0;
        }

        &-next,
        &-prev {
            display: inline-block;
            z-index: 99;

            img {
                width: 4.3rem;
                object-fit: contain;
            }

            &:hover {
                cursor: pointer;
            }
        }

        &-prev {
            margin-right: 2rem;
            transform: scaleX(-1);
        }
    }

    &__right {
        width: 124rem;
        transform: translateX(9rem);

        .swiper__screenshots {
            width: 100%;

            &-slide {
                img {
                    margin-bottom: 2.7rem;
                    width: 100%;
                    object-fit: contain;
                }
            }

            &-text {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-family: 'FuturaPT';
                font-size: 1.5rem;
                line-height: 2.2rem;
                letter-spacing: 0.16em;
                text-transform: uppercase;
            }

            &-name {
                color: rgba(255, 255, 255, 0.5);
            }

        }
    }
}

.feedback {
    padding-top: 27.6rem;
    padding-bottom: 20rem;
    position: relative;

    .container {
        width: 164rem;
        position: relative;
    }

    &__left {
        margin-bottom: 7.5rem;
    }

    &__notice {
        width: 2.2rem;
        position: absolute;
        right: 0;
        bottom: 0;
        object-fit: contain;
    }

    &__left-img {
        width: 75rem;
        position: absolute;
        left: -14rem;
        bottom: 1.6rem;
        object-fit: contain;
    }

    &__right-img {
        position: absolute;
        top: -7.2rem;
        right: 0;

        img {
            width: 57.7rem;
            object-fit: contain;
        }

        p {
            position: absolute;
            top: 3.2rem;
            left: 3rem;
            width: 15rem;
            font-family: 'FuturaPT';
            font-size: 1.5rem;
            line-height: 2.1rem;
            letter-spacing: 0.16em;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.5);
        }
    }

    &__title {
        margin-bottom: 1.8rem;
        font-family: 'FuturaPT';
        font-size: 1.5rem;
        line-height: 2.2rem;
        letter-spacing: 0.16em;
        text-transform: uppercase;
    }

    &__subtitle {
        margin-bottom: 6rem;
        font-size: 7rem;
        line-height: 9rem;
        text-transform: uppercase;
    }

    &__description {
        margin-bottom: 8rem;
        width: 40rem;
        font-family: 'FuturaPT';
        font-size: 1.9rem;
        line-height: 2.6rem;
        color: rgba(255, 255, 255, 0.5);
    }

    &__form {
        margin-left: auto;
        width: 95.8rem;

        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 26.6rem;
            min-height: 13.8rem;
            font-family: 'FuturaPT';
            font-size: 1.5rem;
            line-height: 2.2rem;
            letter-spacing: 0.16em;
            text-transform: uppercase;
            background: url(../images/svg/feedbackBtn.svg) center/contain no-repeat;
        }
    }

    &__input-container {
        margin-bottom: 5.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__input,
    &__input-big {
        padding-top: 3.1rem;
        padding-bottom: 1.8rem;
        position: relative;
        font-family: 'FuturaPT';
        font-size: 1.9rem;
        line-height: 2.6rem;
        color: #FFFFFF;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);

        &::placeholder {
            font-family: 'FuturaPT';
            font-size: 1.5rem;
            line-height: 2.2rem;
            color: rgba(255, 255, 255, 0.5);
            letter-spacing: 0.16em;
            text-transform: uppercase;
            transition: transform .2s ease-in;
        }

        &:not(:last-child) {
            margin-right: 5rem;
        }

        &:focus-visible {
            outline: none;

            &::placeholder {
                transform: translateY(-3.1rem);
            }
        }
    }

    &__input {
        flex: 1 1 auto;
    }

    &__input-big {
        margin-bottom: 4.6rem;
        width: 100%;

        &:not(:last-child) {
            margin-right: 0;
        }
    }
}

.footer {

    &__logo {
        margin-right: 16rem;
        width: 19.4rem;
        object-fit: contain;
    }

    &__top {
        padding-bottom: 70px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);

        .container {
            width: 164rem;
            display: flex;
        }
    }

    &__nav {
        display: flex;

        &-list {
            display: flex;
            flex-direction: column;

            &:not(:last-child) {
                margin-right: 15rem;
            }
        }

        &-item {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }

        &-link {
            font-family: 'FuturaPT';
            font-size: 1.9rem;
            line-height: 2.6rem;
            color: rgba(255, 255, 255, 0.5);
        }
    }

    &__info {
        margin-left: auto;
        width: 47rem;
        text-align: right;

        &-text {
            margin-bottom: 2rem;
        }

        &-text,
        &-link {
            font-family: 'FuturaPT';
            font-size: 1.9rem;
            line-height: 2.6rem;
        }
    }

    &__bottom {
        padding-top: 8.6rem;
        padding-bottom: 8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-list {
            margin-bottom: 2.2rem;
            display: flex;
        }

        &-item {
            &:not(:last-child) {
                margin-right: 5rem;
            }
        }

        &-link {
            img {
                width: auto;
            }
        }

        &-copyright {
            font-family: 'FuturaPT';
            font-size: 1.9rem;
            line-height: 2.6rem;
            color: rgba(255, 255, 255, 0.5);
        }
    }
}