@font-face {
  font-family: "FuturaPT";
  src: local("FuturaPT"), url("../fonts/Futura_PT.woff2") format("woff2"), url("../fonts/Futura_PT.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPT";
  src: local("FuturaPT"), url("../fonts/Futura_PT_Light.woff2") format("woff2"), url("../fonts/Futura_PT_Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Forum";
  src: local("Forum"), url("../fonts/Forum_Regular.woff2") format("woff2"), url("../fonts/Forum_Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Forum", sans-serif;
  font-size: 0.520835vw;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #FFF;
  background-color: #090909;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 150rem;
  margin: 0 auto;
  font-size: 1.8rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 48em) {
  html {
    font-size: 5px;
    font-size: 1.5625vw;
    font-size: 1.5625vw;
    -webkit-text-size-adjust: none;
  }
  body {
    -webkit-text-size-adjust: none;
  }
  .container {
    padding: 0 3rem;
    width: 100%;
  }
}
.header {
  padding-top: 1.4rem;
}
.header .container {
  width: 164rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left-schedule {
  margin-bottom: 2.4rem;
  font-family: "FuturaPT";
  font-size: 1.9rem;
  line-height: 2.6rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
}
.header__left-nav-list {
  display: flex;
}
.header__left-nav-item:not(:last-child) {
  margin-right: 4rem;
}
.header__left-nav-link {
  font-size: 1.9rem;
  line-height: 2.6rem;
}
.header__logo {
  width: 19.4rem;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
}
.header__right-top {
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__right-phone {
  margin-right: 7rem;
  font-family: "FuturaPT";
  font-size: 1.9rem;
  line-height: 2.6rem;
}
.header__right-nav-list {
  display: flex;
  align-items: center;
}
.header__right-nav-item:not(:last-child) {
  margin-right: 4rem;
}
.header__right-nav-link {
  font-size: 1.9rem;
  line-height: 2.6rem;
}

.hero {
  padding-bottom: 17.8rem;
  position: relative;
  background: url(../images/svg/heroPolygon.svg) center/contain no-repeat, url(../images//svg/heroRight.svg) center right/auto no-repeat, url(../images//svg/heroLeft.svg) center left/auto no-repeat, url(../images/heroBG.png) center/auto no-repeat;
}
.hero .swiper__hero-pagination {
  bottom: 15rem !important;
  left: 50%;
  transform: translateX(-50%);
}
.hero .swiper__hero-next,
.hero .swiper__hero-prev {
  position: absolute;
  top: 55%;
  z-index: 2;
}
.hero .swiper__hero-next img,
.hero .swiper__hero-prev img {
  width: 4.1rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero .swiper__hero-next:hover,
.hero .swiper__hero-prev:hover {
  cursor: pointer;
}
.hero .swiper__hero-next {
  right: 20%;
}
.hero .swiper__hero-prev {
  left: 20%;
  transform: rotateY(180deg);
}
.hero .swiper-pagination-bullet {
  width: 0.6rem;
  height: 0.6rem;
  background-color: transparent;
  opacity: 1;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.hero .swiper-pagination-bullet-active {
  border: 1px solid rgb(255, 255, 255);
}
.hero .swiper-pagination-bullet:not(:last-child) {
  margin-right: 1.2rem;
}
.hero .swiper__hero {
  padding-top: 15rem;
  width: 100%;
  min-height: 61.5rem;
}
.hero .swiper__hero-number {
  position: absolute;
  top: -15rem;
  left: 50%;
  font-family: "Forum";
  font-size: 9rem;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  transform: translateX(-50%);
}
.hero .swiper__hero .swiper-slide {
  transition: transform 0.2s ease-in;
}
.hero .swiper__hero .swiper-slide-prev {
  transform: translateX(-20%) scale(0.5);
}
.hero .swiper__hero .swiper-slide-next {
  transform: translateX(20%) scale(0.5);
}
.hero .swiper__hero .swiper-slide-active {
  transform: scale(1);
}
.hero .swiper__hero .swiper-slide-active .swiper__hero-number {
  top: auto;
  bottom: 0;
  font-family: "FuturaPT";
  font-size: 1.5rem;
  line-height: 2.2rem;
}
.hero .swiper__hero .swiper-slide-active .swiper__hero-number::before {
  content: "(";
}
.hero .swiper__hero .swiper-slide-active .swiper__hero-number::after {
  content: ")";
}
.hero .swiper__hero-slide {
  height: auto;
}
.hero .swiper__hero-slide img {
  -o-object-fit: contain;
     object-fit: contain;
}
.hero__video {
  position: absolute;
  bottom: 8rem;
  right: 15rem;
  width: 27.5rem;
  height: 15.3rem;
  background: url(../images/svg/heroVideoBG.svg) center/contain no-repeat;
  z-index: 3;
}
.hero__video-content {
  transform: translate(-1rem, 1rem);
}
.hero__video-link {
  position: absolute;
  top: 1.4rem;
  right: 2rem;
  font-family: "FuturaPT";
  font-weight: 300;
  font-size: 1.9rem;
  line-height: 2.2rem;
}
.hero__video-link:hover {
  cursor: pointer;
}
.hero__video-img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero__video-btn {
  position: absolute;
  left: 1.2rem;
  bottom: 1.6rem;
  width: 5.6rem;
  height: 5.2rem;
}
.hero__video-btn img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero__notice {
  position: absolute;
  bottom: 8rem;
  left: 14rem;
  width: 24.2rem;
  font-family: "FuturaPT";
  font-size: 1.9rem;
  line-height: 2.2rem;
}

.exclusive {
  padding-top: 11rem;
  background: url(../images/exclusiveBG.png) no-repeat;
  position: relative;
}
.exclusive__woman-img {
  width: auto;
  position: absolute;
  left: 50rem;
  bottom: 28rem;
  z-index: 2;
}
.exclusive__man-img {
  width: auto;
  position: absolute;
  right: 38rem;
  bottom: 28rem;
  z-index: 2;
}
.exclusive__container {
  margin: 0 auto;
  margin-bottom: 8rem;
  width: 150rem;
  display: flex;
  align-items: center;
}
.exclusive__description {
  margin-right: 6rem;
  font-family: "FuturaPT";
  width: 28.5rem;
  font-size: 1.9rem;
  line-height: 2.2rem;
  color: rgba(8, 8, 8, 0.5);
}
.exclusive__heading {
  width: 68.8rem;
  font-size: 7rem;
  line-height: 9rem;
  text-transform: uppercase;
  color: #080808;
}
.exclusive__btn {
  margin-left: auto;
}
.exclusive .swiper__exclusive {
  margin-bottom: 23.7rem;
  width: 100%;
}
.exclusive .swiper__exclusive .swiper-wrapper {
  margin-left: -15%;
}
.exclusive .swiper__exclusive-slide {
  padding-left: 4.2rem;
  padding-right: 4.1rem;
  padding-bottom: 3.5rem;
  width: 57.5rem;
  height: 36rem;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: #1B1B1B;
  border: 1px solid #FFFFFF;
}
.exclusive .swiper__exclusive-slide .swiper-jewelry {
  height: 26.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  align-self: center;
  max-width: 100%;
  position: absolute;
  top: 2rem;
}
.exclusive .swiper__exclusive-slide[aria-label="1 / 4"] .swiper-jewelry {
  top: 4rem;
}
.exclusive .swiper__exclusive-slide[aria-label="2 / 4"] .swiper-jewelry {
  top: 0;
}
.exclusive .swiper__exclusive .swiper-slide-active .swiper__exclusive-link {
  opacity: 1;
}
.exclusive .swiper__exclusive-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22rem;
  height: 8.5rem;
  position: absolute;
  top: 9.2rem;
  right: 4.1rem;
  font-family: "FuturaPT";
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  z-index: 2;
  background-image: url(../images/svg/swiperExclusiveBtn.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.exclusive .swiper__exclusive .swiper-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.exclusive .swiper__exclusive .swiper-heading {
  font-family: "FuturaPT";
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: 0.16rem;
  text-transform: uppercase;
}
.exclusive .swiper__exclusive-pagination {
  margin-bottom: 1.9rem;
  font-family: "FuturaPT";
  font-size: 1.9rem;
  line-height: 2.6rem;
  color: rgba(255, 255, 255, 0.3);
}
.exclusive .swiper__exclusive-buttons {
  padding: 5.4rem 14rem 13.1rem;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, #000000 0%, rgba(8, 8, 8, 0) 93.89%);
}
.exclusive .swiper__exclusive-buttons .swiper-buttons-scroll {
  font-family: "FuturaPT";
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.exclusive .swiper__exclusive-buttons .swiper-button-next:after,
.exclusive .swiper__exclusive-buttons .swiper-button-prev:after {
  display: none;
}
.exclusive .swiper__exclusive-buttons .swiper-button-next,
.exclusive .swiper__exclusive-buttons .swiper-button-prev {
  margin-top: 0;
  left: auto;
  right: auto;
  top: auto;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.exclusive .swiper__exclusive-buttons .swiper-button-prev {
  transform: rotateY(180deg);
}

.services {
  padding-top: 3.8rem;
  padding-bottom: 17.9rem;
}
.services .container {
  width: 160rem;
  position: relative;
}
.services__heading {
  margin: 0 auto;
  margin-bottom: 5.5rem;
  width: 64.6rem;
  font-size: 7rem;
  line-height: 9rem;
  text-align: center;
  text-transform: uppercase;
}
.services__tabs {
  margin-bottom: 12.5rem;
  padding-top: 3.6rem;
  padding-bottom: 3.6rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.services__tabs-list {
  margin: 0 auto;
  width: 164rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services__tabs-btn {
  width: 13.5rem;
  font-family: "FuturaPT";
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.services__tabs-btn--active {
  color: #FFFFFF;
}
.services__tabs-btn:hover {
  cursor: pointer;
}
.services__content {
  display: none;
  justify-content: flex-end;
  position: relative;
}
.services__content--active {
  display: flex;
}
.services__content-img {
  width: 102rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.services__content-text {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 6.8rem 5.1rem 6.8rem 1rem;
  width: 86.9rem;
  text-align: right;
  background: rgba(21, 21, 21, 0.3);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  z-index: 2;
  transform: translateY(-50%);
}
.services__content-heading {
  margin-bottom: 4.1rem;
  font-size: 4rem;
  line-height: 5.6rem;
  text-transform: uppercase;
}
.services__content-description {
  margin-bottom: 5.2rem;
  font-family: "FuturaPT";
  font-size: 1.9rem;
  line-height: 2.6rem;
  color: rgba(255, 255, 255, 0.5);
}
.services__content-link {
  font-family: "FuturaPT";
  letter-spacing: 0.2rem;
  text-align: right;
  text-transform: uppercase;
}
.services__content-link img {
  width: 4.213rem;
  -o-object-fit: contain;
     object-fit: contain;
  display: inline-block;
  margin-left: 3.9rem;
}

.price {
  padding-bottom: 17.5rem;
  overflow: hidden;
}
.price__heading {
  margin-bottom: 6.5rem;
  font-size: 7rem;
  line-height: 9rem;
  text-align: center;
  text-transform: uppercase;
}
.price__content {
  display: flex;
  justify-content: space-between;
}
.price__subheading {
  margin-top: 20rem;
  margin-left: 12.8rem;
  display: inline-block;
  font-size: 4rem;
  line-height: 4.6rem;
  height: 29.2rem;
  text-align: left;
  text-transform: uppercase;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  transform: scale(-1);
  vertical-align: middle;
}
.price__jewelry-order {
  margin-bottom: 3.4rem;
  font-family: "FuturaPT";
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: rgba(255, 255, 255, 0.3);
  letter-spacing: 0.16em;
  text-transform: uppercase;
}
.price__jewelry-img {
  margin-bottom: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.price__jewelry-name {
  margin-bottom: 2.8rem;
  font-size: 4rem;
  line-height: 5.6rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.price__jewelry-number {
  font-family: "FuturaPT";
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}
.price .swiper__price-container {
  margin: 0;
  width: calc(100vw - 12.8rem - 3.9rem - 9.2rem);
  display: inline-block;
}
.price .swiper__price-container .swiper-slide {
  width: 42rem;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
}

.stages {
  padding-bottom: 19rem;
}
.stages__heading {
  margin: 0 auto;
  margin-bottom: 5.5rem;
  font-size: 7rem;
  line-height: 9rem;
  text-align: center;
  text-transform: uppercase;
}
.stages__block {
  margin-bottom: 6.7rem;
  padding-top: 5.8rem;
  padding-bottom: 5.8rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.stages__tabs {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stages__tabs-btn {
  font-family: "FuturaPT";
  font-size: 1.5rem;
  line-height: 2.2rem;
  text-align: center;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
}
.stages__tabs-btn:hover {
  cursor: pointer;
}
.stages__tabs-btn--active {
  color: #FFFFFF;
}
.stages__tabs-btn:not(:last-child) {
  margin-right: 11.6rem;
}
.stages__list {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.stages__list-item {
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stages__list-item:not(:last-child) {
  margin-right: 9rem;
}
.stages__tab-item {
  display: none;
}
.stages__tab-item--active {
  display: flex;
}
.stages__item-number {
  width: 23.3rem;
  height: 24.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  line-height: 4.4rem;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  background: url(../images/svg/stagesPolygon.svg) center/contain no-repeat;
}
.stages__item-name {
  margin-bottom: 0.6rem;
  font-size: 4rem;
  line-height: 5.6rem;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.stages__item-description {
  font-family: "FuturaPT";
  font-size: 1.9rem;
  line-height: 2.2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.examples {
  position: relative;
  overflow: hidden;
}
.examples__heading {
  position: absolute;
  top: 16.8rem;
  left: 13.9rem;
  font-size: 7rem;
  line-height: 9rem;
  text-transform: uppercase;
  z-index: 2;
}
.examples .swiper__examples-slide {
  padding-top: 27.5rem;
  padding-left: 13.9rem;
  padding-bottom: 19rem;
  min-height: 104.5rem;
  display: flex;
  flex-direction: column;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.examples .swiper__examples-slide:nth-child(1) {
  background-image: url(../images/examples1.png);
}
.examples .swiper__examples-slide:nth-child(2) {
  background-image: url(../images/examples1.png);
}
.examples .swiper__examples-slide:nth-child(3) {
  background-image: url(../images/examples1.png);
}
.examples .swiper__examples-name, .examples .swiper__examples-detail {
  margin-bottom: 0.4rem;
  font-family: "FuturaPT";
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}
.examples .swiper__examples-detail {
  margin-bottom: 0;
}
.examples .swiper__examples-pagination {
  margin-top: auto;
  display: inline-block;
  position: relative;
  bottom: auto;
  left: auto;
  width: auto;
  font-size: 4rem;
  line-height: 4.4rem;
  text-align: left;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}
.examples__video {
  padding: 5.6rem 5.9rem;
  position: absolute;
  bottom: 20rem;
  right: -15rem;
  width: 87rem;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  z-index: 2;
}
.examples__video-container {
  position: relative;
}
.examples__video-heading {
  margin-bottom: 3rem;
  font-family: "FuturaPT";
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}
.examples__video .swiper__video {
  margin-bottom: 4.2rem;
  z-index: 2;
}
.examples__video .swiper__video-slide {
  padding: 1.5rem;
  display: flex;
  width: 22.3rem;
  min-height: 28rem;
  align-items: flex-end;
  justify-content: flex-start;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.examples__video .swiper__video-slide:nth-child(1n) {
  background-image: url(../images/swiperVideo1.png);
}
.examples__video .swiper__video-slide:nth-child(2n) {
  background-image: url(../images/swiperVideo2.png);
}
.examples__video .swiper__video-slide:nth-child(3n) {
  background-image: url(../images/swiperVideo3.png);
}
.examples__video .swiper__video-text {
  display: flex;
  align-items: center;
}
.examples__video .swiper__video-btn {
  margin-right: 1.4rem;
}
.examples__video .swiper__video-btn img {
  width: auto;
  max-width: 100%;
}
.examples__video .swiper__video-name {
  font-family: "FuturaPT";
  font-size: 1.5rem;
  line-height: 1.9rem;
}
.examples__video .swiper__video-name span {
  font-weight: 300;
}
.examples__video .swiper__video-next, .examples__video .swiper__video-prev {
  display: inline-block;
}
.examples__video .swiper__video-next img, .examples__video .swiper__video-prev img {
  width: auto;
}
.examples__video .swiper__video-next:hover, .examples__video .swiper__video-prev:hover {
  cursor: pointer;
}
.examples__video .swiper__video-prev {
  margin-right: 2rem;
  transform: scaleX(-1);
}
.examples__video .swiper-pagination {
  left: 50%;
  bottom: 0;
}
.examples__video .swiper-pagination-bullet {
  width: 0.6rem;
  height: 0.6rem;
  background-color: transparent;
  opacity: 1;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.examples__video .swiper-pagination-bullet-active {
  border: 1px solid rgb(255, 255, 255);
}
.examples__video .swiper-pagination-bullet:not(:last-child) {
  margin-right: 1.2rem;
}

.about {
  padding-top: 17rem;
  padding-bottom: 16.8rem;
}
.about .container {
  width: 164rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.about__left {
  width: 76.5rem;
}
.about__left-img1, .about__left-img2 {
  width: auto;
}
.about__left-img2 {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.about__left-images {
  position: relative;
}
.about__left-heading {
  margin-bottom: 4.6rem;
  font-size: 7rem;
  line-height: 12.3rem;
  text-transform: uppercase;
}
.about__left-description {
  margin-bottom: 13rem;
  font-family: "FuturaPT";
  font-size: 1.9rem;
  line-height: 2.6rem;
}
.about__right {
  width: 61rem;
}
.about__right-img3 {
  margin-bottom: 11.5rem;
  width: auto;
}
.about__right-title {
  font-family: "FuturaPT";
  font-size: 1.9rem;
  line-height: 2.6rem;
}
.about__right-list-item {
  margin-left: 1em;
  font-family: "FuturaPT";
  font-size: 1.9rem;
  line-height: 2.6rem;
  list-style: inside;
  list-style-position: outside;
}

.reviews {
  padding-left: 14rem;
  display: flex;
  position: relative;
  overflow: hidden;
}
.reviews__left {
  width: 58rem;
}
.reviews__left-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26.6rem;
  min-height: 13.8rem;
  font-family: "FuturaPT";
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  background: url(../images/svg/feedbackBtn.svg) center/contain no-repeat;
}
.reviews__heading {
  margin-bottom: 14.6rem;
  font-size: 7rem;
  line-height: 9rem;
  text-transform: uppercase;
}
.reviews .swiper__reviews-pagintaion {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
.reviews .swiper__reviews-pagintaion .swiper-pagination-bullet {
  width: 0.6rem;
  height: 0.6rem;
  background-color: transparent;
  opacity: 1;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.reviews .swiper__reviews-pagintaion .swiper-pagination-bullet-active {
  border: 1px solid rgb(255, 255, 255);
}
.reviews .swiper__reviews-pagintaion .swiper-pagination-bullet:not(:last-child) {
  margin-bottom: 1.2rem;
}
.reviews .swiper__reviews {
  margin-right: 3.3rem;
  width: 43.7rem;
  max-height: 35rem;
}
.reviews .swiper__reviews-slide {
  height: 100%;
}
.reviews .swiper__reviews-item {
  margin-bottom: 5.7rem;
  font-family: "FuturaPT";
  font-size: 1.9rem;
  line-height: 2.6rem;
}
.reviews .swiper__reviews-btns {
  position: absolute;
  bottom: 0;
}
.reviews .swiper__reviews-next, .reviews .swiper__reviews-prev {
  display: inline-block;
  z-index: 99;
}
.reviews .swiper__reviews-next img, .reviews .swiper__reviews-prev img {
  width: 4.3rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.reviews .swiper__reviews-next:hover, .reviews .swiper__reviews-prev:hover {
  cursor: pointer;
}
.reviews .swiper__reviews-prev {
  margin-right: 2rem;
  transform: scaleX(-1);
}
.reviews__right {
  width: 124rem;
  transform: translateX(9rem);
}
.reviews__right .swiper__screenshots {
  width: 100%;
}
.reviews__right .swiper__screenshots-slide img {
  margin-bottom: 2.7rem;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.reviews__right .swiper__screenshots-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "FuturaPT";
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}
.reviews__right .swiper__screenshots-name {
  color: rgba(255, 255, 255, 0.5);
}

.feedback {
  padding-top: 27.6rem;
  padding-bottom: 20rem;
  position: relative;
}
.feedback .container {
  width: 164rem;
  position: relative;
}
.feedback__left {
  margin-bottom: 7.5rem;
}
.feedback__notice {
  width: auto;
  position: absolute;
  right: 0;
  bottom: 0;
}
.feedback__left-img {
  width: auto;
  position: absolute;
  left: -14rem;
  bottom: 1.6rem;
}
.feedback__right-img {
  position: absolute;
  top: -7.2rem;
  right: 0;
}
.feedback__right-img img {
  width: auto;
}
.feedback__right-img p {
  position: absolute;
  top: 3.2rem;
  left: 3rem;
  width: 15rem;
  font-family: "FuturaPT";
  font-size: 1.5rem;
  line-height: 2.1rem;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.feedback__title {
  margin-bottom: 1.8rem;
  font-family: "FuturaPT";
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}
.feedback__subtitle {
  margin-bottom: 6rem;
  font-size: 7rem;
  line-height: 9rem;
  text-transform: uppercase;
}
.feedback__description {
  margin-bottom: 8rem;
  width: 40rem;
  font-family: "FuturaPT";
  font-size: 1.9rem;
  line-height: 2.6rem;
  color: rgba(255, 255, 255, 0.5);
}
.feedback__form {
  margin-left: auto;
  width: 95.8rem;
}
.feedback__form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26.6rem;
  min-height: 13.8rem;
  font-family: "FuturaPT";
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  background: url(../images/svg/feedbackBtn.svg) center/contain no-repeat;
}
.feedback__input-container {
  margin-bottom: 5.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.feedback__input, .feedback__input-big {
  padding-top: 3.1rem;
  padding-bottom: 1.8rem;
  position: relative;
  font-family: "FuturaPT";
  font-size: 1.9rem;
  line-height: 2.6rem;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.feedback__input::-moz-placeholder, .feedback__input-big::-moz-placeholder {
  font-family: "FuturaPT";
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.16em;
  text-transform: uppercase;
  -moz-transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
}
.feedback__input:-ms-input-placeholder, .feedback__input-big:-ms-input-placeholder {
  font-family: "FuturaPT";
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.16em;
  text-transform: uppercase;
  -ms-transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
}
.feedback__input::placeholder, .feedback__input-big::placeholder {
  font-family: "FuturaPT";
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.16em;
  text-transform: uppercase;
  transition: transform 0.2s ease-in;
}
.feedback__input:not(:last-child), .feedback__input-big:not(:last-child) {
  margin-right: 5rem;
}
.feedback__input:focus-visible, .feedback__input-big:focus-visible {
  outline: none;
}
.feedback__input:focus-visible::-moz-placeholder, .feedback__input-big:focus-visible::-moz-placeholder {
  transform: translateY(-3.1rem);
}
.feedback__input:focus-visible:-ms-input-placeholder, .feedback__input-big:focus-visible:-ms-input-placeholder {
  transform: translateY(-3.1rem);
}
.feedback__input:focus-visible::placeholder, .feedback__input-big:focus-visible::placeholder {
  transform: translateY(-3.1rem);
}
.feedback__input {
  flex: 1 1 auto;
}
.feedback__input-big {
  margin-bottom: 4.6rem;
  width: 100%;
}
.feedback__input-big:not(:last-child) {
  margin-right: 0;
}

.footer__logo {
  margin-right: 16rem;
  width: 19.4rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__top {
  padding-bottom: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.footer__top .container {
  width: 164rem;
  display: flex;
}
.footer__nav {
  display: flex;
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
}
.footer__nav-list:not(:last-child) {
  margin-right: 15rem;
}
.footer__nav-item:not(:last-child) {
  margin-bottom: 2rem;
}
.footer__nav-link {
  font-family: "FuturaPT";
  font-size: 1.9rem;
  line-height: 2.6rem;
  color: rgba(255, 255, 255, 0.5);
}
.footer__info {
  margin-left: auto;
  width: 47rem;
  text-align: right;
}
.footer__info-text {
  margin-bottom: 2rem;
}
.footer__info-text, .footer__info-link {
  font-family: "FuturaPT";
  font-size: 1.9rem;
  line-height: 2.6rem;
}
.footer__bottom {
  padding-top: 8.6rem;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__bottom-list {
  margin-bottom: 2.2rem;
  display: flex;
}
.footer__bottom-item:not(:last-child) {
  margin-right: 5rem;
}
.footer__bottom-link img {
  width: auto;
}
.footer__bottom-copyright {
  font-family: "FuturaPT";
  font-size: 1.9rem;
  line-height: 2.6rem;
  color: rgba(255, 255, 255, 0.5);
}/*# sourceMappingURL=style.css.map */